@@import url(https://i.icomoon.io/public/temp/f1cd62d715/Spotifyapp/style.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
  background: #181818;
  color: #ADAFB2;
  font-family: 'Quicksand', sans-serif;
  margin: 0; padding: 0;
}

/* search.css */

.search {
    position: fixed;
    top: 0; right: 400px; left: 0; bottom: 0;
    padding-top: 50px;
}

.search__wrapper {
    position: absolute;
    top: 0px; right: 0; left: 0px;
    height: 50px;
}

.search__field {
    position: absolute;
    top: 0px; bottom: 0px; left: 0px;
    width: 100%; height: 100%;
    padding: 10px 50px 10px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    border: 0;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search__submit {
    position: absolute;
    top: 0px; right: 0px; bottom: 0px;
    width: 50px;
    background-color: #E62117;
    border: 1px solid transparent;
    color: transparent;
    display: table-cell;
    vertical-align: middle;
}

.search__submit:active {
    border: 1px solid transparent;
}

.search__submit:before {
    font-family: 'spotify-team-player';
    display: block;
    color: #fff;
    content: "\e036";
    font-size: 25px;
    padding: 8px 0 0 0;
}

.search-results {
    height: 100%;
    overflow-y: scroll;
}

/* player-window.css */

.player-window {
    position: fixed;
    top: 0; right: 0; bottom: 0;
    width: 400px;
}

.player {
    position: absolute;
    top: 0; right: 0; left: 0;
    height: 400px;
    background-color: #14171A;
    opacity: 0.8;
    display: flex;
    border-left: 1px solid #282828;
    border-bottom: 1px solid #282828;
}

.player h2 {
    padding: 0 20px;
    align-self: center;
}

.track-list {
    position: absolute;
    top: 400px; right: 0; bottom: 0; left: 0;
    overflow-y: scroll;
    border-left: 1px solid #282828;
}

.list-item, .list-item__search {
    padding: 10px;
    border-bottom: 1px solid #282828;
    white-space: nowrap;
    -moz-user-select: none;
    cursor: normal;
}

.list-item__search {
    padding: 15px 50px 15px 60px;
    position: relative;
}

.list-item__search:after {
    font-family: 'spotify-team-player';
    content: "\e040";
    display: block;
    color: #ADAFB2;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
}

.list-item__search,
.list-item__search .item__title { cursor: pointer; }

.item__artwork {
    width: 70px;
    position: absolute;
    top: 0; bottom: 0; left: 0;
    background-size: cover;
    z-index: 5;
}

.item__artwork:after {
    content: " ";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -moz-linear-gradient(45deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(45deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(45deg, rgba(0,0,0,0.3) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}

.item__title {
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    z-index: 10;
    position: relative;
}


@font-face {
	font-family: 'spotify-team-player';
	src: url('../fonts/spotify-team-player.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="tt-"], [class*=" tt-"] {
	font-family: 'spotify-team-player';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tt-bell:before {
	content: "\e006";
}
.tt-cog:before {
	content: "\e023";
}
.tt-search:before {
	content: "\e036";
}
.tt-plus:before {
	content: "\e040";
}
.tt-minus:before {
	content: "\e041";
}
.tt-skip-back:before {
	content: "\e050";
}
.tt-play:before {
	content: "\e052";
}
.tt-pause:before {
	content: "\e053";
}
.tt-stop:before {
	content: "\e054";
}
.tt-next:before {
	content: "\e056";
}
.tt-dots:before {
	content: "\e129";
}
