@font-face {
	font-family: 'spotify-team-player';
	src:url('fonts/spotify-team-player.eot?-j06250');
	src:url('fonts/spotify-team-player.eot?#iefix-j06250') format('embedded-opentype'),
		url('fonts/spotify-team-player.ttf?-j06250') format('truetype'),
		url('fonts/spotify-team-player.woff?-j06250') format('woff'),
		url('fonts/spotify-team-player.svg?-j06250#spotify-team-player') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tt-"], [class*=" tt-"] {
	font-family: 'spotify-team-player';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tt-bell:before {
	content: "\e006";
}
.tt-cog:before {
	content: "\e023";
}
.tt-search:before {
	content: "\e036";
}
.tt-plus:before {
	content: "\e040";
}
.tt-minus:before {
	content: "\e041";
}
.tt-skip-back:before {
	content: "\e050";
}
.tt-play:before {
	content: "\e052";
}
.tt-pause:before {
	content: "\e053";
}
.tt-stop:before {
	content: "\e054";
}
.tt-next:before {
	content: "\e056";
}
.tt-dots:before {
	content: "\e129";
}
